In [17]:
import pandas as pd
import re
import linecache

In [3]:
db_path = "/Users/oscarbalcells/Desktop/AI/task4/datasets/cepdb_2013-06-21.sql"

In [11]:
with open(db_path, 'r') as file:
    print(file.read(12000))

SET AUTOCOMMIT = 0;
SET FOREIGN_KEY_CHECKS=0;
SET unique_checks=0;
-- MySQL dump 10.11
--
-- Host: localhost    Database: cepdb
-- ------------------------------------------------------
-- Server version	5.5.25a

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `auth_group` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(80) COLLATE utf8_bin NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `auth_group`
--
-- ORDER BY:  `id`

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `auth_group_permissions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `group_id` int(11) NOT NULL,
  `permission_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `group_id` (`group_id`,`permission_id`),
  KEY `auth_group_permissions_bda51c3c` (`group_id`),
  KEY `auth_group_permissions_1e014c8f` (`permission_id`),
  CONSTRAINT `group_id_refs_id_3cea63fe` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `permission_id_refs_id_a7792de1` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `auth_group_permissions`
--
-- ORDER BY:  `id`

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `auth_permission` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(50) COLLATE utf8_bin NOT NULL,
  `content_type_id` int(11) NOT NULL,
  `codename` varchar(100) COLLATE utf8_bin NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `content_type_id` (`content_type_id`,`codename`),
  KEY `auth_permission_e4470c6e` (`content_type_id`),
  CONSTRAINT `content_type_id_refs_id_728de91f` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=49 DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `auth_permission`
--
-- ORDER BY:  `id`

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
INSERT INTO `auth_permission` VALUES (1,'Can add permission',1,'add_permission'),(2,'Can change permission',1,'change_permission'),(3,'Can delete permission',1,'delete_permission'),(4,'Can add group',2,'add_group'),(5,'Can change group',2,'change_group'),(6,'Can delete group',2,'delete_group'),(7,'Can add user',3,'add_user'),(8,'Can change user',3,'change_user'),(9,'Can delete user',3,'delete_user'),(10,'Can add content type',4,'add_contenttype'),(11,'Can change content type',4,'change_contenttype'),(12,'Can delete content type',4,'delete_contenttype'),(13,'Can add session',5,'add_session'),(14,'Can change session',5,'change_session'),(15,'Can delete session',5,'delete_session'),(16,'Can add site',6,'add_site'),(17,'Can change site',6,'change_site'),(18,'Can delete site',6,'delete_site'),(19,'Can add log entry',7,'add_logentry'),(20,'Can change log entry',7,'change_logentry'),(21,'Can delete log entry',7,'delete_logentry'),(22,'Can add mol graph',8,'add_molgraph'),(23,'Can change mol graph',8,'change_molgraph'),(24,'Can delete mol graph',8,'delete_molgraph'),(25,'Can add mol geom',9,'add_molgeom'),(26,'Can change mol geom',9,'change_molgeom'),(27,'Can delete mol geom',9,'delete_molgeom'),(28,'Can add calc qc set1',10,'add_calcqcset1'),(29,'Can change calc qc set1',10,'change_calcqcset1'),(30,'Can delete calc qc set1',10,'delete_calcqcset1'),(31,'Can add calib qc set1',11,'add_calibqcset1'),(32,'Can change calib qc set1',11,'change_calibqcset1'),(33,'Can delete calib qc set1',11,'delete_calibqcset1'),(34,'Can add scharber',12,'add_scharber'),(35,'Can change scharber',12,'change_scharber'),(36,'Can delete scharber',12,'delete_scharber'),(37,'Can add graph stat',13,'add_graphstat'),(38,'Can change graph stat',13,'change_graphstat'),(39,'Can delete graph stat',13,'delete_graphstat'),(40,'Can add geom stat',14,'add_geomstat'),(41,'Can change geom stat',14,'change_geomstat'),(42,'Can delete geom stat',14,'delete_geomstat'),(43,'Can add graph score',15,'add_graphscore'),(44,'Can change graph score',15,'change_graphscore'),(45,'Can delete graph score',15,'delete_graphscore'),(46,'Can add geom score',16,'add_geomscore'),(47,'Can change geom score',16,'change_geomscore'),(48,'Can delete geom score',16,'delete_geomscore');
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user`
--

DROP TABLE IF EXISTS `auth_user`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `auth_user` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(30) COLLATE utf8_bin NOT NULL,
  `first_name` varchar(30) COLLATE utf8_bin NOT NULL,
  `last_name` varchar(30) COLLATE utf8_bin NOT NULL,
  `email` varchar(75) COLLATE utf8_bin NOT NULL,
  `password` varchar(128) COLLATE utf8_bin NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `last_login` datetime NOT NULL,
  `date_joined` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `auth_user`
--
-- ORDER BY:  `id`

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
INSERT INTO `auth_user` VALUES (1,'jhachman','','','jh@chemistry.harvard.edu','pbkdf2_sha256$10000$QqBUpgJE6q53$5QxuAqSQ6Ah2PC5zpuAPLqOwgZeOsWjEO0iAVECugW0=',1,1,1,'2012-10-10 16:36:50','2012-10-10 16:36:50');
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_groups`
--

DROP TABLE IF EXISTS `auth_user_groups`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `auth_user_groups` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `group_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`,`group_id`),
  KEY `auth_user_groups_fbfc09f1` (`user_id`),
  KEY `auth_user_groups_bda51c3c` (`group_id`),
  CONSTRAINT `group_id_refs_id_f0ee9890` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `user_id_refs_id_831107f1` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `auth_user_groups`
--
-- ORDER BY:  `id`

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_user_permissions`
--

DROP TABLE IF EXISTS `auth_user_user_permissions`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `auth_user_user_permissions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `permission_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`,`permission_id`),
  KEY `auth_user_user_permissions_fbfc09f1` (`user_id`),
  KEY `auth_user_user_permissions_1e014c8f` (`permission_id`),
  CONSTRAINT `permission_id_refs_id_67e79cb` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `user_id_refs_id_f2045483` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `auth_user_user_permissions`
--
-- ORDER BY:  `id`

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `data_calcqcset1`
--

DROP TABLE IF EXISTS `data_calcqcset1`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `data_calcqcset1` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `mol_graph_id` int(11) NOT NULL,
  `mol_geom_id` int(11) NOT NULL,
  `calc_id_str` varchar(250) COLLATE utf8_bin NOT NULL,
  `calc_tbz_str` varchar(250) COLLATE utf8_bin NOT NULL,
  `calc_archive_subdir_path` varchar(250) COLLATE utf8_bin NOT NULL,
  `modelchem_str` varchar(100) COLLATE utf8_bin NOT NULL,
  `e_total` double DEFAULT NULL,
  `e_homo_alpha` double DEFAULT NULL,
  `e_lumo_alpha` double DEFAULT NULL,
  `e_gap_alpha` double DEFAULT NULL,
  `e_homo_beta` double DEFAULT NULL,
  `e_lumo_beta` double DEFAULT NULL,
  `e_gap_beta` double DEFAULT NULL,
  `e_gap_min` double DEFAULT NULL,
  `dipmom_total` double DEFAULT NULL,
  `s2_val` double DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `calc_id_str` (`calc_id_str`),
  KEY `data_calcqcset1_88fb5108` (`mol_graph_id`),
  KEY `data_calcqcset1_2174315b` (`mol_geom_id`),
  CONSTRAINT `mol_geom_id_refs_id_9f7beeea` FOREIGN KEY (`mol_geom_id`) REFERENCES `data_molgeom` (`id`),
  CONSTRAINT `mol_graph_id_refs_id_9b795eb5` FOREIGN KEY (`mol_graph_id`) REFERENCES `data_molgraph` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=147902359 DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `data_calcqcset1`
--
-- ORDER BY:  `id`

LOCK TABLES `data_calcqcset1` WRITE;
/*!40000 ALTER TABLE `data_calcqcset1` DISABLE KEYS */;
INSERT INTO `data_calcqcset1` VALUES (1,386226,16855,'A.16.C13H8N2S.49.noopt.bp86.sto6g.n.sp','','','MM//BP86/STO-6G',-1004.9549135703,-0.101,0.019,0.12,-0.101,0.019,0.12,0.12,3.9718,NULL),(2,386226,16855,'A.16.C13H8N2S.49.noopt.bp86.svp.n.sp','','','MM//BP86/SVP',-1007.3925734934,-0.189,-0.073,0.116,-0.189,-0.073,0.116,0.116,2.9927,NULL),(3,386226,15011810,'A.16.C13H8N2S.49.bp86.svp.n.bp86.svp.n.sp','','','BP86/SVP//BP86/SVP',-1007.4106491085,-0.189,-0.076,0.113,-0.189,-0.076,0.113,0.113,3.3101,NULL),(4,386226,15011810,'A.16.C13H8N2S.49.bp86.svp.n.b3lyp.svp.n.sp','','','BP86/SVP//B3LYP/SVP',-1007.3715017888,-0.21,-0.049,0.161,-0.21,-0.049,0.161,0.161,3.2717,NULL),(5,386226,15011810,'A.16.C13H8N2S.49.bp86.svp.n.pbe0.svp.n.sp','','','BP86/SVP//PBE0/SVP',-1006.5262975477,-0.219,-0.047,0.172,-0.219,-0.047,0.172,0.172,3.2038,NULL),(6,386226,15011810,'A.16.C13H8N2S.49.bp86.svp.n.bhandhlyp.svp.n.sp','','','BP86/SVP//BH&HLYP/SVP',-1006.9750584092,-0.243,-0.011,0.232,-0.243,-0.011,0.232,0.232,3.1471,NULL),(7,386226,15011810,'A.16.C13H8N2S.49.bp86.svp.n.m062x.svp.n.sp','','','BP86/SVP//M06-2X/SVP',-1007.0912602232,-0.254,-0.019,0.235,-0.254,-0.019,0.235,0.235,3.1508,NULL),(8,38622

In [16]:
insert_stmt = None

with open(db_path, 'r') as file:
    calc_line = file.readlines()[102]

KeyboardInterrupt:

In [22]:
insert_stmt = linecache.getline(db_path, 242)

In [23]:
print(insert_stmt[:100])

INSERT INTO `data_calcqcset1` VALUES (1,386226,16855,'A.16.C13H8N2S.49.noopt.bp86.sto6g.n.sp','','',

In [24]:
# Extract data values using regex
values_str = re.findall(r"\((.*?)\)", insert_stmt)
values = [v.split(",") for v in values_str]

# Create DataFrame
df = pd.DataFrame(values, columns=['id', 'mol_graph_id', 'mol_geom_id', 'calc_id_str', 'calc_tbz_str', 'calc_archive_subdir_path', 'modelchem_str', 'e_total', 'e_homo_alpha', 'e_lumo_alpha', 'e_gap_alpha', 'e_homo_beta', 'e_lumo_beta', 'e_gap_beta', 'e_gap_min', 'dipmom_total', 's2_val'])

print(df)

        id mol_graph_id mol_geom_id
0        1       386226       16855  \
1        2       386226       16855
2        3       386226    15011810
3        4       386226    15011810
4        5       386226    15011810
...    ...          ...         ...
6095  6096       225056    15012921
6096  6097       225056    15012921
6097  6098       225056    15012921
6098  6099       225056    15012921
6099  6100       225056    15012921

                                            calc_id_str calc_tbz_str
0              'A.16.C13H8N2S.49.noopt.bp86.sto6g.n.sp'           ''  \
1                'A.16.C13H8N2S.49.noopt.bp86.svp.n.sp'           ''
2           'A.16.C13H8N2S.49.bp86.svp.n.bp86.svp.n.sp'           ''
3          'A.16.C13H8N2S.49.bp86.svp.n.b3lyp.svp.n.sp'           ''
4           'A.16.C13H8N2S.49.bp86.svp.n.pbe0.svp.n.sp'           ''
...                                                 ...          ...
6095  'A.18.C15H10S2Si.62.bp86.svp.n.bhandhlyp.svp.n...           ''
6096     'A.18.C15H10S2Si.62.bp86.svp.n.m062x.svp.n.sp'           ''
6097        'A.18.C15H10S2Si.62.bp86.svp.n.hf.svp.n.sp'           ''
6098       'A.18.C15H10S2Si.62.bp86.svp.n.uhf.svp.n.sp'           ''
6099    'A.18.C15H10S2Si.62.bp86.svp.n.um062x.svp.n.sp'           ''

     calc_archive_subdir_path            modelchem_str           e_total
0                          ''        'MM//BP86/STO-6G'  -1004.9549135703  \
1                          ''           'MM//BP86/SVP'  -1007.3925734934
2                          ''     'BP86/SVP//BP86/SVP'  -1007.4106491085
3                          ''    'BP86/SVP//B3LYP/SVP'  -1007.3715017888
4                          ''     'BP86/SVP//PBE0/SVP'  -1006.5262975477
...                       ...                      ...               ...
6095                       ''  'BP86/SVP//BH&HLYP/SVP'   -1662.327731068
6096                       ''   'BP86/SVP//M06-2X/SVP'   -1662.414366167
6097                       ''       'BP86/SVP//HF/SVP'  -1657.0049612131
6098                       ''      'BP86/SVP//UHF/SVP'  -1657.0078951857
6099                       ''  'BP86/SVP//UM06-2X/SVP'  -1662.4139679565

     e_homo_alpha e_lumo_alpha e_gap_alpha e_homo_beta e_lumo_beta e_gap_beta
0          -0.101        0.019        0.12      -0.101       0.019       0.12  \
1          -0.189       -0.073       0.116      -0.189      -0.073      0.116
2          -0.189       -0.076       0.113      -0.189      -0.076      0.113
3           -0.21       -0.049       0.161       -0.21      -0.049      0.161
4          -0.219       -0.047       0.172      -0.219      -0.047      0.172
...           ...          ...         ...         ...         ...        ...
6095       -0.215       -0.045        0.17      -0.215      -0.045       0.17
6096       -0.228       -0.053       0.175      -0.228      -0.053      0.175
6097       -0.244        0.034       0.278      -0.244       0.034      0.278
6098       -0.249        0.035       0.284      -0.246       0.038      0.284
6099       -0.228       -0.053       0.175      -0.228      -0.052      0.176

     e_gap_min dipmom_total s2_val
0         0.12       3.9718   NULL
1        0.116       2.9927   NULL
2        0.113       3.3101   NULL
3        0.161       3.2717   NULL
4        0.172       3.2038   NULL
...        ...          ...    ...
6095      0.17       1.5734   NULL
6096     0.175       1.5726   NULL
6097     0.278       1.5114   NULL
6098     0.281        1.507   NULL
6099     0.175       1.5718   NULL

[6100 rows x 17 columns]

In [25]:
df.iloc[0]

id                                                                 1
mol_graph_id                                                  386226
mol_geom_id                                                    16855
calc_id_str                 'A.16.C13H8N2S.49.noopt.bp86.sto6g.n.sp'
calc_tbz_str                                                      ''
calc_archive_subdir_path                                          ''
modelchem_str                                      'MM//BP86/STO-6G'
e_total                                             -1004.9549135703
e_homo_alpha                                                  -0.101
e_lumo_alpha                                                   0.019
e_gap_alpha                                                     0.12
e_homo_beta                                                   -0.101
e_lumo_beta                                                    0.019
e_gap_beta                                                      0.12
e_gap_min                                                       0.12
dipmom_total                                                  3.9718
s2_val                                                          NULL
Name: 0, dtype: object

In [54]:
line = linecache.getline(db_path, 9045)
print(line[:100])

INSERT INTO `data_calcqcset1` VALUES (50873296,1015212,18844432,'C.29.C25H14N2SSe.00203831.1.bp86.sv